<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>psdtowebmain.psd</title>
		<link href="styles2.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="background">
			<div id="Fondo"><img src="images/Fondo.png"></div>
			<div id="floor"><img src="images/floor.png"></div>
			<div id="Palette"><img src="images/Palette.png"></div>
			<div id="walltransparent"><img src="images/walltransparent.png"></div>
			<div id="nuwall"><img src="images/nuwall.png"></div>
			<div id="wallback"><img src="images/wallback.png"></div>
			<div id="wallupper"><img src="images/wallupper.png"></div>
			<div id="walldoors"><img src="images/walldoors.png"></div>
			<div id="Weightscreen"><img src="images/Weightscreen.png"></div>
			<div id="cellphone"><img src="images/cellphone.png"></div>
			<div id="lightsright"><img src="images/lightsright.png"></div>
			<div id="ligthleft"><img src="images/ligthleft.png"></div>
			<div id="lightsdown"><img src="images/lightsdown.png"></div>
			<div id="lightsoff"><img src="images/lightsoff.png"></div>
			<div id="lightson"><img src="images/lightson.png"></div>
			<div id="lightsup"><img src="images/lightsup.png"></div>
			<div id="right"><img src="images/right.png"></div>
			<div id="left"><img src="images/left.png"></div>
			<div id="right_0"><img src="images/right_0.png"></div>
			<div id="left_0"><img src="images/left_0.png"></div>
			<div id="leftcopia"><img src="images/leftcopia.png"></div>
			<div id="right_1"><img src="images/right_1.png"></div>
			<div id="left_1"><img src="images/left_1.png"></div>
			<div id="frame"><img src="images/frame.png"></div>
			<div id="Button"><img src="images/Button.png"></div>
			<div id="Buttonsboth"><img src="images/Buttonsboth.png"></div>
			<div id="Buttonsmain"><img src="images/Buttonsmain.png"></div>
			<div id="Buttonsred"><img src="images/Buttonsred.png"></div>
			<div id="Buttonswhite"><img src="images/Buttonswhite.png"></div>
		</div>
 </body>
 </html>