<!DOCTYPE html>
<html lang="es" class="m-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="jquery.js"></script>
    <script src="index.js"></script>
    <title>Ascensor Rush</title>
</head>
<body class="m-100" style="position: absolute;z-index: 1;">
    <div class="m-100 presentacion">
        <div class="logo"></div>
    </div>
    <div class="m-100 container-game">
        <div class="m-100 par" style="order:1;">
            <h3 style="color:#444">Podeis seguirnos en Instagram</h3>
            <h1 style="color:#444"><i class="fa fa-instagram" style="font-size: 1.5em; color: red;"></i>  elevatorrush</h1>
        </div>
        <div class="m-100 par" style="order:3; display: none;">
            <h3 style="color:#444">Podeis seguirnos en Instagram</h3>
            <h1 style="color:#444"><i class="fa fa-instagram" style="font-size: 1.5em; color: red;"></i>  elevatorrush</h1>
        </div>
        <div class="m-100 juego" style="order:2; display: none;">
            <div class="backwall"></div>
            <div class="HUD" style="display: none;">
                <div class="m-100 ascensor_izq"></div>
                <div class="m-100 ascensor_der"></div>
                <div class="weightscreen" >
                    <div class="grupos">
                        <div class="persona"></div>
                        <h1 class="peso">70kg</h1>
                    </div>
                    <div class="grupos">
                        <div class="persona"></div>
                        <h1 class="peso">80kg</h1>
                    </div>
                    <div class="grupos">
                        <div class="persona"></div>
                        <h1 class="peso">65kg</h1>
                    </div>
                    <div class="grupos">
                        <div class="persona"></div>
                        <h1 class="peso">74kg</h1>
                    </div>
                    <div class="grupos">
                        <div class="persona"></div>
                        <h1 class="peso">77kg</h1>
                    </div>
                    <div class="grupos">
                        <div class="persona"></div>
                        <h1 class="peso">85kg</h1>
                    </div>
                </div>
                <div class="telefono">
                    <div class="newDate">New Date :</div>
                    <span class="crono">00:59</span>
                </div>
            </div>
            <div class="m-100 frame">
                <div class="frame_door"></div>
                <div class="containerLightsButtons">
                    <div class="button"></div>
                    <div class="luces"></div>
                    <div class="luces"></div>
                </div>
                <div class="ascensores">
                    <div class="ascensor">
                        <div class="puerta_der"></div>
                        <div class="puerta_izq"></div>
                        <div class="grupo" style="display: none;">
                            <div class="persona"></div>
                            <div class="persona"></div>
                            <div class="persona"></div>
                        </div>
                    </div>
                    <div class="ascensor">
                        <div class="puerta_der"></div>
                        <div class="puerta_izq"></div>
                        <div class="grupo" style="display: none;">
                            <div class="persona"></div>
                            <div class="persona"></div>
                            <div class="persona"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>